<% layout('layouts/boilerplate')%>
  <div class="row">
    <h1 class="text-center">Signup</h1>
    <div class="col-6 offset-3">
      <div class="card card-body">
        <form action="/users/signup" method="POST" class="needs-validation" novalidate>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="name" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter an username.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter email.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter password.
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please confirm your password.
            </div>
          </div>
          <button class="btn btn-primary btn-block">Sign Up</button>
        </form>
        <p class="lead mt-4">
          Have an Account? <a href="/users/signin">Sign In</a>
        </p>
      </div>
    </div>
  </div>